* {
    font-family: 'Roboto', sans-serif;
    color: gray;
}
.container{
    padding: 10px;
}

h1 {
    text-align: center;
}

.desc {
    text-align: justify;
    padding: 15px;
}
img {
    height:150px;
}

.movies {
    display: flex;
    justify-content: center;
}

.movie {
    text-align: center;
    border-radius: 4px; 
    height: 350px; 
    width: 280px;
    margin: 5px 10px 5px;
    border: 1px solid #000;
    padding: 15px 10px 15px;
}